/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282f39; /* основной цвет */
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-buttons button {
  background-color: #78afff; /* второстепенный цвет */
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px; /* Добавляем отступ между кнопками */
}

.task-buttons button:last-child {
  margin-right: 0; /* Убираем отступ с последней кнопки */
}

.task-buttons button:hover {
  background-color: #5d6e85; /* основной цвет */
}

